<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <!-- ========================================= -->
    <!-- APPENDERS -->
    <!-- ========================================= -->

    <appender name="technical-console-appender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- Note: Replace %c{1} with %c to get the full category path -->
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] [%c]: %m%n"/>
        </layout>
    </appender>

    <!-- ========================================= -->
    <!-- ROOT CONFIG -->
    <!-- ========================================= -->

    <root>
        <level value="error"/>
        <appender-ref ref="technical-console-appender"/>
    </root>

</log4j:configuration>